* {
  list-style: none;
  text-decoration: none;
}

nav {
  display: flex;
  position: sticky;
}
.logoname{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 11;
}
.linkage{
    text-decoration: none;
}
